body {
    background-color: #537692;
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#canvas1 {
    width: 70%;
    height: 95vh;
    background-color: #537692;
    /*border: 3px solid #1d3f58; /* Change this to your desired border color */
}

#controls {
    width: 28%;
}


button {
    background-color: #537692; /* Change this to your desired color */
    color: #163145; /* Change this to your desired text color */
    font-weight: bold;
    border: 3px solid #1d3f58;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Optional: Hover effect for buttons */
button:hover {
    background-color: #1d3f58; /* Change this to your desired hover color */
    color: #537692; /* Change this to your desired text color */

}

button:active {
    background-color: #537692; /* Change this to your desired color */
    color: #163145;
}

@media (max-width: 1000px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #canvas1{
        width: 100%;
        max-width: none;
        }

    #controls {
        width: 100%;
        max-width: none;
        margin-top: 50px;
    }
}
